.main-new {
    display: flex;
    flex-wrap: wrap;
    background-color: #dde2e6;
}

.nav {
    width: 100%;
    padding: 5px;
    letter-spacing: 1px;
    font-size: large;
    color: white;
    background-image: url(./esset/bakground.jpg);
}

/*사이드*/
.aside {
    width: 200px;
    padding: 50px 0px 0px 30px;
    border-right: dashed;
    background-image: url(./esset/bakground2.jpg);
}

.sidelist {margin-bottom: 25px;}

.sidelist-title {margin-bottom: 10px; text-decoration: none;}

.sidelist-list {
    margin-left: 10px;
    list-style-type: none;
    color: #7e487e;
}

/*본문*/
.article {
    margin: 20px 20px 0px;
    flex-grow: 1;
}

.post {
    width: 570px;
    margin: 10px 10px 15px;
    padding: 10px 10px 25px;
    display: flex;
    border-bottom: 1px solid;
}

.post-pfp {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    background-image: url(./esset/profile.jpg);
    background-size: 100%;
}

.post2 {
    width: 490px;
    margin: 0px 10px;
}

.post3 {display: flex; margin-bottom: 10px;}

.post-id {flex-grow: 1; margin-left: 5px; color: #7e487e;}

.post-date {color: #7e487e; font-size: small;}

.post-thum {
    width: 480px;
    height: 220px;
    margin-top: 5px;
    border-radius: 5%;
    object-fit: cover;
}