@font-face {
    font-family: 'pf-stardust-bold';
    src:url('./font/pf-stardust-bold.ttf');
} 

* {
    margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;
    cursor: url(./esset/cursor.cur), auto;
}

body {
    overflow: hidden;
    font-family: 'pf-stardust-bold';
    color: #441644;
}

.back {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./esset/gif.gif), url(./esset/bakground.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, 100%;
    background-blend-mode: screen, color;
}

/*컨테이너*/
.container {
    width: 900px;
    background-color: #dbc4e7;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    box-shadow: 7px 7px 10px #441644;
}

/*헤더*/
.header {
    width: 100%;
    padding: 3px 3px 0px;
}

.top {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    background: linear-gradient(270deg, #0db6ff, #ff7bb9);
}

.top-ul {flex-grow: 1; color: white;} 

.top-but {
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
    margin-right: 5px;
    background-color:#dbc4e7;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
}

.top2 {
    margin: 3px 3px 0px;
    padding: 2px;
    font-size: small;
    word-spacing: 10px;
    border-bottom: 2px solid #7e487e;
}

/*검색창*/
.searchbar {
    display: flex;
    align-items: flex-end;
    margin: 0px 3px 0px;
    padding: 2px 2px 0px;
    border-top: 2px solid white;
}

.searchtxt {
    padding-right: 5px;
    padding-bottom: 3px;
    font-size: small;
}

.searhspace {
    flex-grow: 1;
    padding: 1px 3px;
    background-color: white;
    border: 2px solid;
    border-right-color: white;
    border-bottom-color: white;
}

.searhspace::placeholder {color: #441644;}

/*인터넷*/
.internet {
    margin: 3px;
    border: 2px solid;
    border-right-color: white;
    border-bottom-color: white;
}

.in-internet {
    height: 550px;
    overflow: scroll;
    border-top: 2px solid #7e487e;
    border-left: 2px solid #7e487e;
}

.main {
    width: 100%;
    height: -webkit-fill-available;
    background-image: url(./esset/bakground3.jpg);
    background-size: 100%;
    text-align: center;
    position: relative;
}

/*로딩화면*/
.loading-con {
    position: absolute;
    top: 230px;
    left:0; right:0; margin-left:auto; margin-right:auto;
    animation: loading 8.7s forwards;
}

@keyframes loading {to{visibility:hidden;}}

.loading-text {
    margin-bottom: 10px;
    font-size: x-large;
    color: white;
    text-shadow: -2px 0px #c9afe5, 0px 2px #c9afe5, 2px 0px #c9afe5, 0px -2px #c9afe5;
}

.loading-box {
    display: inline-flex;
    justify-content: center;
    border: solid white;
    box-shadow: -2px 0px #c9afe5, 0px 2px #c9afe5, 2px 0px #c9afe5, 0px -2px #c9afe5;
}

.loading-box2 {
    display: inline-flex;
    border: solid #c9afe5;
}

.loading {
    width: 15px;
    height: 25px;
    margin: 3px 0px 3px 3px;
    visibility: hidden;
    background-color: white;
    box-shadow: -2px 0px #c9afe5, 0px 2px #c9afe5, 2px 0px #c9afe5, 0px -2px #c9afe5;
}

.loading:nth-child(1) {animation: loading1 3s 3;}
.loading:nth-child(2) {animation: loading2 3s 3;}
.loading:nth-child(3) {animation: loading3 3s 3;}
.loading:nth-child(4) {animation: loading4 3s 3;}
.loading:nth-child(5) {animation: loading5 3s 3;}
.loading:nth-child(6) {animation: loading6 3s 3;}
.loading:nth-child(7) {animation: loading7 3s 3;}
.loading:nth-child(8) {margin-right: 3px; animation: loading8 3s 3;}

@keyframes loading1 {0%,90%{visibility:hidden;}10%{visibility:visible;}}
@keyframes loading2 {10%,90%{visibility:hidden;}20%{visibility:visible;}}
@keyframes loading3 {20%,90%{visibility:hidden;}30%{visibility:visible;}}
@keyframes loading4 {30%,90%{visibility:hidden;}40%{visibility:visible;}}
@keyframes loading5 {40%,90%{visibility:hidden;}50%{visibility:visible;}}
@keyframes loading6 {50%,90%{visibility:hidden;}60%{visibility:visible;}}
@keyframes loading7 {60%,90%{visibility:hidden;}70%{visibility:visible;}}
@keyframes loading8 {70%,90%{visibility:hidden;}80%{visibility:visible;}}


/*메인화면*/

.article {
    position: absolute;
    top: 230px;
    left:0; right:0; margin-left:auto; margin-right:auto;
    animation: mainloading 9.1s ;
}

@keyframes mainloading {
    0%, 95% {opacity: 0%; pointer-events: none;}
    to {opacity: 100%; pointer-events: auto;}
}

.title {
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 3px #e1a1da;}

.newbut {
    font-size: x-large;
    color: #c9afe5;
    text-shadow: 1px 1px 2px white;
}

/*푸터*/
.footer {
    display: flex;
    padding: 1px 2px;
    margin-bottom: 3px;
}

.box1, .box2, .box3 {
    height: 30px;
    border: 2px solid;
    border-top-color: #7e487e;
    border-left-color: #7e487e;
    border-right-color: white;
    border-bottom-color: white;
}

.box1 {
    margin-left: 5px;
    width: 660px;
}

.box2 {
    margin-left: 3px;
    width: 130px;
}

.box3 {
    margin-left: 3px;
    width: 86px;
}